<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header"> 
        <a href="https://sites.google.com/site/corobrenta" class="navbar-brand">Coro Parrocchiale di Brenta</a>
      </div>
      <div class="navbar-expand-lg"> 
        <ul class="nav navbar-nav">
          <li><a routerLink="/songs" routerLinkActive="active">Canti</a></li>
          <li><a routerLink="/programs" routerLinkActive="active">Programmi</a></li>
        </ul>
      </div>
    </div>
  </nav>
  