.active {
    font-weight: bold;
    color: white;
}
.navbar-default li a, .navbar-brand li a, .navbar-nav li a,.navbar-default,.navbar-brand {
    color: white;
    background: rgba(25,94,157,1);
}
 
a, a:hover, a:active, a:visited {
    color: white;
}