
<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">New Song</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a *ngFor="let song of songlist"
        [routerLink]="['/song',song.id]"
        class="list-group-item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ song.title }}</h4>
          <p class="list-group-item-text">{{ song.author }}</p>
          <p class="list-group-item-text">{{ song.id }}</p>
        </div>
        
      </a>
    </div>
  </div>
  
  