<h1>
  {{ song.id }}
  {{ song.title }} 
</h1>

<dl class="dl-horizontal">
  <dt>Autore</dt><dd>{{ song.author || '-'}}</dd>
  <dt>Autore testo:</dt><dd>{{ song.authorText || '-'}}</dd>
  <dt>Album</dt><dd>{{ song.album || '-'}}</dd>
  <dt>Anno pubblicazione</dt><dd>{{ song.yearpublished || '-'}}</dd>
  <dt>Editore</dt><dd>{{ song.publisher || '-'}}</dd>
  <dt>Riferimenti</dt><dd>{{ song.ref1 || '-'}} {{ song.ref2 || '-'}}  </dd>
  <dt>Tag</dt><dd><span *ngFor="let tag of song.tags" >{{ tag || '-'}}&nbsp;</span></dd>
</dl>

<hr />
Materiali:
<table class="table">
<tr *ngFor="let attachment of song.attachments" class="row">
    <td>
    <div *ngIf="attachment.endsWith('pdf')" class="col-xs-12">
      <span class="glyphicon glyphicon-file">&nbsp;</span>
      <a href="{{ song.attachBaseUrl }}/songattachdownload?name={{ attachment }}" target="_blank">{{ attachment }}</a>
    </div> 
    <div *ngIf="attachment.endsWith('mp3')||attachment.endsWith('m4a')" class="col-xs-12">
      <span class="glyphicon glyphicon-music">&nbsp;</span> 
      <a href="{{ song.attachBaseUrl }}/songattachdownload?name={{ attachment }}" target="_blank">{{ attachment }}</a>
      <audio  controls>
        <source src="{{ song.attachBaseUrl }}/songattachdownload?name={{ attachment }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </td>
</tr>
<tr *ngFor="let attachmentLink of song.attachmentsLinks" class="row">
  <td>
    <div *ngIf="attachmentLink.includes('youtube')" class="col-xs-12">
      <span class="glyphicon glyphicon-facetime-video">&nbsp;</span>
      <a href="{{ attachmentLink }}" target="_blank">Apri video</a>
       
    </div>
    <div *ngIf="!attachmentLink.includes('youtube')" class="col-xs-12">
      <span class="glyphicon glyphicon-link">&nbsp;</span>
      <a href="{{ attachmentLink }}" target="_blank">{{ attachmentLink }}</a>
    </div>
  </td>
</tr>
<tr *ngFor="let attachment of song.attachments" class="row">
  <td>
  <div *ngIf="attachment.endsWith('png')||attachment.endsWith('jpg')||attachment.endsWith('jpeg')" class="col-md-10">
    <a href="{{ song.attachBaseUrl }}/songattach?name={{ attachment }}" target="_blank" >
      <img src="{{ song.attachBaseUrl }}/songattach?name={{ attachment }}" width="100" height="150" style="border:2px solid gray" /></a>
  </div> 
</td>
</tr>
<tr *ngIf="song.fulltext"  class="row">
  
  <td> 
  <div class="col-md-10">
      <hr/><br/> <p innerHTML="{{ song.fulltext | textformat }}"></p>
  </div> 
</td>
</tr>
</table>
<hr/>
<a routerLink="/songs" class="btn btn-primary">Back</a>     